html {
  text-align: center;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

.piece {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.piece.empty {
  border: 2px solid grey;
}

.piece.p1 {
  background-color: red;
  /* background: repeating-linear-gradient(45deg,
      red,
      red 4px,
      firebrick 4px,
      firebrick 8px); */
}

.piece.p2 {
  background-color: yellow;
  /* background: repeating-linear-gradient(-45deg,
      yellow,
      yellow 4px,
      gold 4px,
      gold 8px); */
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  /* clear button stuff */
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}

.columns,
.column {
  gap: 0.25rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important
}